{#
  Base html template.
#}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {# bootstrap #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      {# messages #}
      {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
          {{ message }}
        </div>
      {% endfor %}
      {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
          {{ message }}
        </div>
      {% endfor %}
      {# locale links #}
      {% set route = app.request.attributes.get('_route') %}
      {% set route_params = app.request.attributes.get('_route_params') %}
      {% set params = route_params|merge(app.request.query.all) %}

      {# It is the best i could do. #}
      {% set locales = ['cs', 'en'] %}
      {% for locale in locales %}
        <li>
          <a href="{{ path(route, params|merge({ _locale: locale })) }}">
            {{ locale }}
          </a>
        </li>
      {% endfor %}

      {% block body %}{% endblock %}
    </div>
  </body>
</html>
