{#
  Contact detail page.
#}

{% extends "base.html.twig" %}
{% set locale = app.request.getLocale() %}
{% block body %}
  <h2>{% trans %}Contact{% endtrans %}</h2>
  <a href="/{{ locale }}/contacts">{% trans %}Back{% endtrans %}</a>
  <ul>
    <li>{% trans %}User{% endtrans %}: {{ user }}</li>
    <li>{% trans %}Phone{% endtrans %}: {{ phone }}</li>
    <li>{% trans %}Actions{% endtrans %}:
      <ul>
        <li>
          <a href="/{{ locale }}/contacts/{{ unified_phone }}/update">{% trans %}Update{% endtrans %}</a>
        </li>
        <li>
          <a href="/{{ locale }}/contacts/{{ unified_phone }}/delete">{% trans %}Delete{% endtrans %}</a>
        </li>
      </ul>
    </li>
  </ul>
{% endblock %}