{#
  Homepage.
#}

{% extends 'base.html.twig' %}
{% set locale = app.request.getLocale() %}
{% block title %}Burda homework{% endblock %}
{% block body %}
  <h1>{% trans %}Contacts{% endtrans %}</h1>
  <ul>
    <li>
      <a href="/{{ locale }}/contacts/new">{% trans %}New contact{% endtrans %}</a>
    </li>
    <li>
      <a href="/{{ locale }}/search">{% trans %}Search{% endtrans %}</a>
    </li>
    <li>
      <a href="/{{ locale }}/generate/10">{% trans %}Generate SQL for{% endtrans %} 10 {% trans %}contacts (or how many you want from URL parameter){% endtrans %}</a>
    </li>
  </ul>
{% endblock %}
