{#
  New contact form.
#}

{% extends "base.html.twig" %}
{% set locale = app.request.getLocale() %}
{% block body %}
  <h2>{% trans %}New contact{% endtrans %}</h2>
  <a href="/{{ locale }}/contacts">{% trans %}Back{% endtrans %}</a>
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form(form) }}
  {{ form_end(form) }}
{% endblock %}