{#
  Search page.
#}

{% extends "base.html.twig" %}
{% set locale = app.request.getLocale() %}
{% block body %}
  <h2>{% trans %}Search{% endtrans %}</h2>
  <a href="/{{ locale }}/contacts">{% trans %}Back{% endtrans %}</a>
  {{ form_start(form) }}
    {{ form(form) }}
  {{ form_end(form) }}
  <h3>{% trans %}Results{% endtrans %}</h3>
  {% if contact %}
    <ul>
      <li>{% trans %}User{% endtrans %}: {{ contact.getUser() }}</li>
      <li>{% trans %}Phone{% endtrans %}: {{ contact.getPhoneReadable() }}</li>
      <li><a href="/{{ locale }}/contacts/{{ contact.getPhoneUnified() }}">{% trans %}Detail{% endtrans %}</a></li>
    </ul>
  {% else %}
    <p>{% trans %}Not found{% endtrans %}</p>
  {% endif %}
{% endblock %}